<table style="width: 100%;" border>
    <tr>
      <td align="center" colspan="2" style="background: grey;">
        <app-header></app-header>
      </td>
    </tr>
    <tr>
      <td  align="center" colspan="2">
        <app-navigation-bar></app-navigation-bar>
      </td>
    </tr>
    <tr>
      <td  align="center">
        <app-main-information></app-main-information>
      </td>
      <td  align="center" style="background: grey;">
        <app-sidebar></app-sidebar>
      </td>
    </tr>
    <tr>
      <td  align="center" colspan="2">
        <app-footer></app-footer>
      </td>
    </tr>
  </table>
