<div id="container">
  <table style="width: 100%;">
    <tr>
      <td colspan="2">
        <app-header></app-header>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <app-navigation-bar></app-navigation-bar>
        <hr class="separator">
      </td>
    </tr>
    <tr>
      <td width="80%" >
        <app-main-information></app-main-information>
      </td>
      <td width="20%" id="td-sidebar">
        <app-sidebar></app-sidebar>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <hr class="separator">
        <app-footer></app-footer>
      </td>
    </tr>
</table>
</div>

