<div id="container">
    <div>
        <p class="fecha">Domingo, 10 de julio 2011</p>
    </div>
    <div class="parrafo-container">
        <div class="titulo my-2">Lorem Ipson 2</div>
        <div class="texto my-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, deleniti? Dicta numquam
            asperiores tenetur facilis consequuntur aliquam maiores amet esse veniam tempora laborum, officia eveniet,
            in rem expedita possimus repudiandae! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni
            inventore blanditiis aliquam in, quis odit. Provident maxime excepturi architecto porro voluptatum?
            Aspernatur quaerat quasi magnam blanditiis rem ullam cumque harum! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quibusdam, repellendus ipsum dolores veritatis dicta sunt molestias alias mollitia soluta
            harum asperiores blanditiis eos nulla. Neque eius consectetur perferendis eligendi magni! Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. In at dolore magni illum assumenda! Totam facere error, pariatur
            velit ipsam eaque repudiandae expedita assumenda laudantium ipsum, accusantium blanditiis, exercitationem
            quam?</div>
    </div>
    <div>
        <p class="fecha">Domingo, 8 de julio 2011</p>
    </div>
    <div class="parrafo-container">
        <div class="titulo my-2">Lorem Ipson 1</div>
        <div class="texto my-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, deleniti? Dicta numquam
            asperiores tenetur facilis consequuntur aliquam maiores amet esse veniam tempora laborum, officia eveniet,
            in rem expedita possimus repudiandae! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni
            inventore blanditiis aliquam in, quis odit. Provident maxime excepturi architecto porro voluptatum?
            Aspernatur quaerat quasi magnam blanditiis rem ullam cumque harum! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quibusdam, repellendus ipsum dolores veritatis dicta sunt molestias alias mollitia soluta
            harum asperiores blanditiis eos nulla. Neque eius consectetur perferendis eligendi magni! Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. In at dolore magni illum assumenda! Totam facere error, pariatur
            velit ipsam eaque repudiandae expedita assumenda laudantium ipsum, accusantium blanditiis, exercitationem
            quam?</div>
    </div>
</div>